header, footer {
    text-align: center;
}
.content {
    padding: 1em;
}
img, video, canvas {
    width: 90%;
    margin: 5%;
}
input, button {
    margin: 0.5em
}
body {
    color: #fff;
    background-color: #000;
    font-family: sans-serif;
    font-size: 20px;
}
tr:hover{
    color:#000;
    background-color: #fff;
    font-size: 1.2 em;
}
td {
    text-align: center;
}
@media only screen and (max-width: 767px) {
    table {
        margin: 0 5%;
    }
    tr:first {
        display: hidden;
    }
    tr {
        display: grid;
        border: white 1px solid;
    }
    article {
        width: 0 5%;
    }
}
@media only screen and (min-width: 769px) {
    article {
        width: 80%;
        margin: 0 10%;
    }
}
input, button {
    margin: 0.5em;
    border-radius: 0.5em;
    padding: 0.5em;
    font-size: 1em;
}
button {
    max-width: fit-content;
    color: white;
}
button a {
    text-decoration: none;
}
header ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}
header ul li {
    display: inline-block;
    border-radius: 0.5em;
    padding: 1em;
    background-color: aqua;
    margin: 0.1em 0;
}
header ul li a {
    color: white;
    text-decoration: none;
}
#graph-button {
    background-color: aqua;
}
#upload {
    background-color: greenyellow;
}
.download {
    background-color: orangered;
}
.download a {
    color: white;
}