<!-- templates/table.html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
    <table> 
      <tbody> 
        {% for i in csv %}
          <tr>
            {% for j in i %}
            <td> {{ j }} </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
	<button id="graph-button" onclick="changeGraph()">График</button>
  <button class='download'>
    	<a href="{{MEDIA_URL}} {{filename}}">Download</a>
  </button>
  <img id="graph" src="{% static img %} " hidden />

{% endblock %}